* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #f0a30a;
    width: 100%;
    height: 100%;
}

#querocafe {
    margin: 15px 600px;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
}

#sistema {
    margin: 50px 700px;
    color: white;
}

body {
    display: grid;
    grid-template-rows: 20vh 8vh 57vh 15vh;
}

#menu {
    background-color: #fa6800;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 370px;
    padding-top: 22px;
}

#menu a {
    display: inline;
    margin-right: 100px;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    text-decoration: none;
}



#main {
    background-color: #fff2cc;
}

#footer {
    background-color: #f0a30a;
}

#widecoffee {
    height: 15px;
}

#conteudo {
    margin: 50px 900px 0px 50px;
}

#localizacao {
    display: inline;
    margin-right: 100px;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    box-sizing: border-box;
    padding-left: 370px;
    padding-top: 5000px;
}

#redes {
    display: inline;
    margin-right: 100px;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    box-sizing: border-box;
    padding-left: 370px;
    padding-top: 50px;
}