* {
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    letter-spacing: 30px;
    font-size: 35px;
}

body {
    width: 100%;
    min-width: 420px;
}

#container {
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(21, 1fr);
    grid-gap: 18px;
    padding: 0 10px;
}

#container > div {
    border: 2px solid black;
}

#header {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#um {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

#dois {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

#tres {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

#quatro {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

#cinco {
    background-color: yellow;   
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

#seis {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}

#sete {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 17;
}

#oito {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 17;
}

#nove {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 17;
    grid-row-end: 21;
}

#dez {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 17;
    grid-row-end: 21;
}

#onze {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 21;
}

    @media screen and (min-device-width : 451px) and (max-device-width : 750px) {
    /* tablets */

    * {
        letter-spacing: 12px;
    }

    #um {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    }

    #dois {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    }

    #tres {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
    }

    #quatro {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
    }

    #cinco {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
    }

    #seis {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 11;
    }

    #sete {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 17;
    }

    #oito {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 17;
    }

    #nove {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 19;
    }

    #dez {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 19;
    }

    #onze {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 19;
    grid-row-end: 21;
    }
    }

    @media screen and (max-device-width : 450px) {
        /* celulares */

    * {
        letter-spacing: 1px;
    }
    #um {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
        }
            
        #dois {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
        }
          
        #tres {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
        }
            
        #quatro {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
        }
           
        #cinco {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 11;
        }
            
        #seis {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 13;
        }
            
        #sete {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 13;
        grid-row-end: 16;
        }
            
        #oito {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 16;
        grid-row-end: 19;
        }
            
        #nove {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 19;
        grid-row-end: 20;
        }
            
        #dez {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 20;
        grid-row-end: 21;
        }
           
        #onze {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 21;
        grid-row-end: 22;
        }
        }